<!--
  Generated template for the SubjectDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center">Smart Roll Call</ion-title>

    <button ion-button clear small menuToggle="right" icon-only right>
      <ion-icon name="notifications"></ion-icon>
    </button>

  </ion-navbar>
  <div>
    <p style="text-align:center">
      <span style="font-weight:bold"> {{user?.Name}} </span>
      <br>
      <span style="float:left;">Subject Code: {{subject?.SubjectCode}}</span>
      <span style="float:right">Roll No. {{user?.UserRole}}</span>
      <br>
      <span style="float:left; color: green">Present: {{subject?.Present}}</span>
      <span style="color:red; float:right">Absent: {{subject?.Absent}}</span>

    </p>
  </div>

</ion-header>


<ion-content padding>

  <div ion-item style="height:10px">
    <div style="width:80%; float:left; color:#488aff"> Date </div>
    <div style="width:20%; float:left; color:#488aff"> Status </div>
  </div>

  <h3 *ngFor="let item of attendenceList" ion-item>
    <div style="width:80%; float: left"> {{item.AttendanceDate}} </div>
    <div style="width:20%; float: right">
      <span *ngIf="item.Remarks=='P'" style="color:green; font-weight: bold;"> {{item.Remarks}}</span>
      <span *ngIf="item.Remarks=='A'" style="color:red; font-weight: bold;"> {{item.Remarks}}</span>
    </div>

  </h3>


</ion-content>